* {
    font-family: 'Press Start 2P', cursive;
}

body {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 280px 380px
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameBoard {
    border: solid 2px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    margin-right: 8px;
    cursor: pointer;
}

.next {
    margin-top: 36px;
    padding-right: 36px;
    padding-top: 12px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
}